<app-menu></app-menu>

<section id="project" class="main-content">
  <div class="container">
    <h5 class="section-title h1">Localizaciones</h5>
      <form class="formulario" [formGroup]="myForm" (ngSubmit)="onSubmit()">

        <div class="form">
          <br>

          <label for="location">localización</label>
          <input type="text" name="location" class="form-control" formControlName="location" id="location" required> 

          <label for="location">Area</label>
          <input type="number" name="area" class="form-control" formControlName="area" id="area" required> 

          <label for="selectClientes">Padre</label>
          <select name="parent_id" id="parent_id" class="form-control" formControlName="parent_id" required>
            <option *ngFor="let location of locations" 
              
              [value]="location._id">
              {{location.location}}
           </option>
          </select>

        </div>
       <br>
        <button id="btn-save" type="submit" class="btn btn-primary">Añadir</button>
      </form>
      <br>
<div class="table" >
      <table>
        <tr >
          <th>localizacion</th>
          <th>area</th>
          <th>fecha de creacion</th>
        </tr>
        <tr *ngFor="let location of locations">
          <td>{{location.location}}</td>
          <td>{{location.area}}</td>
          <td>{{location.date}}</td>
        </tr>
      </table>
  </div>
  </div>
</section>
